.header {
    text-align: center;
    background-color: #4a4258;
    color: white;
}

/*-------------------------------------------------------------*/
.navbar {
    width: 100%;
    display: block;
    text-decoration: none;
}
    .nav li {
        float: left;
    }
    
    .nav li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
    }
    .nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
/*--------------------------------------------------------*/
.container-fluid {
    /* background-color: white; */
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: none;
    margin-right: none;
}
    .container-fluid p {
        padding-block-start: 1%;
        vertical-align: middle;
        line-height: 1.5;
        font-size: 20px
    }
/*--------------------------------------------------------*/
.col-md-6 {
    background-color: #333333;
    border-radius: 15px 15px 15px 15px;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    
}
    .col-md-6 img {
        padding: 5px;
        margin-right: 15px;
    }
/*--------------------------------------------------------*/

.col-md-5 {
    background-color: #adaccd;
    border-radius: 15px 15px 15px 15px;
    margin-left: 1%;
    margin-right: 2%;
}
.col-md-10 {
    background-color: #adaccd;
    border-radius: 15px 15px 15px 15px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
    .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .thumbnail img:hover {
        box-shadow: 0 0 10px 5px rgba(37, 56, 86);
        text-decoration: none;
    }
    .thumbnail .test {
        box-shadow: 0 0 10px 5px rgba(37, 56, 86);
    }
    .thumbnail p{
        color: grey;
    }
#thumbc p {
        color: gray;
        font-size: 30px;
    }
    #thumbc img:hover {
        box-shadow: 0 0 10px 5px rgba(37, 56, 86);
        text-decoration: none;
    }
/*--------------------------------------------------------*/
.parallax {
    background-image: url("https://i.imgur.com/8Qa3ov6.gif");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    .caption {
        position: absolute;
        left: 0;
        top: 20%;
        width: 100%;
        text-align: center;
        color: #000;
    }
    .caption span.border {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px;
    }
.parallax2 {
    background-image: url("https://media.giphy.com/media/Yy26NRbpB9lDi/giphy.gif");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    background-image: url("https://i.gifer.com/2P1s.gif");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    background-image: url("http://cdn104.picsart.com/203865669001202.gif");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax5 {
    background-image: url("https://i.imgur.com/9WgJg0G.gif");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax6 {
    background-image: url("https://i.imgur.com/iXmWbAN.gif");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax7 {
    background-image: url("http://theabsolutemag.com/wp-content/uploads/2015/04/tumblr_nn73keKrv91qze3hdo1_500.gif");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 600px) {
    .row, .navbar {   
        flex-direction: column;
    }
    }
@media screen and (max-width: 600px) {
    .navbar li.right, 
    .navbar li {float: none;}
    }
    